.heading-title {
    font-size: 4.5rem;
    letter-spacing: -1.3px;
    margin: 2rem 2rem;
    line-height: 3.5rem;
    padding: 1rem 0;

    @include respond(tab-port) {
        margin: 2rem 1rem;
    }
}

hr {
    margin: 2rem 2rem;

    @include respond(tab-port) {
        margin: 2rem 1rem;
    }
}

.heading-primary {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 24rem;
    right: 2rem;
    width: 75%;

    @include respond(tab-port) {
        font-size: 2rem;
        top: 11rem;
        right: 1rem
    }

    &__span {
        padding: 0.5rem 1rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        background-image: linear-gradient(to right bottom,
            rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85)
        );
    }
}

.heading-secondary {
    padding: 1rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-grey-dark-2;
    width: 100%;
}

.heading-tertiary {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    color: $color-black;
    width: 100%;
}
