<div class="section-products">
    <h1 class="heading-title">Featured Products</h1>
    <hr width="75%">
    <div class="row">
        <div class="col" *ngFor="let product of products">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture" [ngStyle]="{'background-image':'url(' + product.media.hero_image + ')'}">
                        &nbsp;
                    </div>
                    <h4 class="card__heading"><span class="card__heading-span">{{product.title}}</span></h4>
                    <div class="card__details u-margin-bottom-big">
                        <ul>
                            <li><strong>{{product.product_type}}</strong></li>
                            <li><i>{{product.description}}</i></li>
                            <li>{{product.certification}}</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back">
                    <div class="card__cta">
                        <div class="card__link-box">
                            <p class="card__sub-header">Seeing is</p>
                            <p class="card__header">Believing</p>
                        </div>
                        <a [routerLink]="'/products/' + product.id" class="btn btn--white">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
