<div class="product-container" *ngIf="product">
    <header class="product-container__header">
        <app-video-header [video]='product.media.hero_video' [title]='product.title'></app-video-header>
    </header>
    <div class="product-container__content">
        <div class="product-container__content-sidebar">
            SideBar
        </div>
        <div class="product-container__content-detail">
            <div class="product-container__content-detail-description">
                <p class="paragraph">
                    {{ product.body }}
                </p>
            </div>

            <div class="product-container__content-detail-moreInfo">
                <ul class="product-container__content-detail-moreInfo-list">
                    <li class="list__item"><strong>{{product.product_type}}</strong></li>
                    <li class="list__item"><i>{{product.description}}</i></li>
                    <li class="list__item">{{product.certification}}</li>
                    <li class="list__item">{{product.average_rating}}</li>
                    <li class="list__item">{{product.average_rating_percentage}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
