<section class="section-product-detail">
    <div class="product-container" *ngIf="product">
        <header class="product-header">
            <app-video-header [video]='product.media.hero_video' [title]='product.title'></app-video-header>
        </header>
        <div class="product-content">
            <div class="product-content__sidebar">
                <app-side-bar></app-side-bar>
            </div>
            <div class="product-content__detail">
                <div class="product-content__detail-image">
                    <app-product-image></app-product-image>
                </div>
                <div class="product-content__detail-moreInfo">
                    <app-more-info></app-more-info>
                </div>
            </div>
        </div>
    </div>
</section>
