<div class="section-product-detail" *ngFor="let product of products">
    <div class="row">
        <div class="col-1-of-5">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture" [ngStyle]="{'background-image':'url(' + product.media.hero_image + ')'}">
                        &nbsp;
                    </div>
                    <h4 class="card__heading"><span class="card__heading-span">{{product.title}}</span></h4>
                    <div class="card__details">
                        <ul>
                            <li><strong>{{product.product_type}}</strong></li>
                            <li><i>{{product.description}}</i></li>
                            <li>{{product.certification}}</li>
                            <li>{{product.average_rating}}</li>
                            <li>{{product.average_rating_percentage}}</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <p class="card__price-only">Only</p>
                            <p class="card__price-value">$297</p>
                        </div>
                        <a [routerLink]="'/productList/${product.id}'" class="btn btn--white">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
