<section class="section-sideBar">
    <div class="row">
        <div class="col">
            <h1 class="heading-secondary">
                What our customers think </h1>
            <p class="paragraph">
            <div class="card__details">
                <ul class="u-margin-bottom-small">
                    <li><strong>Average customer stars:</strong></li>
                    <li>{{averageRating}}</li>
                    <li><strong>Average customer rating:</strong></li>
                    <li><i>{{averageRatingPercentage}}%</i></li>
                </ul>
            </div>
            <a routerLink="/products" class="btn btn--secondary"> All products </a>
        </div>
    </div>
</section>
