.row {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    width: 100% !important;

    @include respond(tab-port) {
        margin: 1rem 0;
        display: contents;
    }
}

.col {
    align-items: center;
    margin: 1rem;
    flex: 1 0 18.5%;
}
