.row {
    max-width: $grid-width;
    /** auto centers */
    margin: 0 auto;

    /** selects all of the classes that start with col- **/
    [class^="col-"] {
        float: left;
        margin: 2.4rem;

        @include respond(tab-port) {
            width: 100% !important;
            margin: 1rem 0;
        }
    }

    .col-1-of-5 {
        width: calc((100% - 4 * #{$gutter-horizontal}) / 5);
    }
}
