.row {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 1rem;

    @include respond(tab-port) {
        margin: 1rem 0;
    }

    @include respond(phone) {
        display: contents;
    }
}

.col {
    align-items: center;
    margin: 1rem;
    flex: 1 0 18.5%;

    @include respond(tab-port) {
        flex: 1 0 30.5%;
    }
}


